# 1. Ignorar dependencias de Node (se reinstalan con 'npm install')
backend/node_modules/

# 2. Ignorar el archivo de variables de entorno (¡Contraseñas!)
backend/.env

# 3. Ignorar los archivos multimedia (¡Los videos!)
media/videos/
media/thumbnails/

# Opcional: Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
# Dependencias de Node (¡MUY IMPORTANTE!)
node_modules/

# Archivo de secretos y contraseñas (¡MUY IMPORTANTE!)
.env

# Archivos del sistema
.DS_Store
Thumbs.db