# Opcional: Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
# Dependencias de Node (¡MUY IMPORTANTE!)
node_modules/

# Archivo de secretos y contraseñas (¡MUY IMPORTANTE!)
.env

# Archivos del sistema
.DS_Store
Thumbs.db

public/peliculas/